#header a,
p {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font: 20px Georgia;
}
#c2 {
    background-color: hsl(0, 0%, 2%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#050505");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#666666), to(#050505));
    background-image: -moz-linear-gradient(top, #666666, #050505);
    background-image: -ms-linear-gradient(top, #666666, #050505);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #050505));
    background-image: -webkit-linear-gradient(top, #666666, #050505);
    background-image: -o-linear-gradient(top, #666666, #050505);
    background-image: linear-gradient(#666666, #050505);
    border-color: #050505 #050505 hsl(0, 0%, -7.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    -webkit-font-smoothing: antialiased;
}
#c3 {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007ab8;
    background-image: -moz-linear-gradient(top, #0088cc, #006699);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#006699));
    background-image: -webkit-linear-gradient(top, #0088cc, #006699);
    background-image: -o-linear-gradient(top, #0088cc, #006699);
    background-image: linear-gradient(to bottom, #0088cc, #006699);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff006699', GradientType=0);
    border-color: #006699 #006699 #00334d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #006699;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}
#c4 {
    background-color: hsl(59, 33%, 50%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e0dfc1", endColorstr="#a9a855");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e0dfc1), to(#a9a855));
    background-image: -moz-linear-gradient(top, #e0dfc1, #a9a855);
    background-image: -ms-linear-gradient(top, #e0dfc1, #a9a855);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0dfc1), color-stop(100%, #a9a855));
    background-image: -webkit-linear-gradient(top, #e0dfc1, #a9a855);
    background-image: -o-linear-gradient(top, #e0dfc1, #a9a855);
    background-image: linear-gradient(#e0dfc1, #a9a855);
    border-color: #a9a855 #a9a855 hsl(59, 33%, 42%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.52);
    -webkit-font-smoothing: antialiased;
}
#c5 {
    background-color: hsl(0, 0%, 2%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#050505");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#666666), to(#050505));
    background-image: -moz-linear-gradient(top, #666666, #050505);
    background-image: -ms-linear-gradient(top, #666666, #050505);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #050505));
    background-image: -webkit-linear-gradient(top, #666666, #050505);
    background-image: -o-linear-gradient(top, #666666, #050505);
    background-image: linear-gradient(#666666, #050505);
    border-color: #050505 #050505 hsl(0, 0%, -7.5%);
    color: #a9e44d !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    -webkit-font-smoothing: antialiased;
}
.clear {
    clear: both;
}
footer {
    border-top: 2px solid;
}
.col-centered {
    text-align: center;
}
.tbm {
    margin: 20px;
}
.c1 * {
    color: #000 !important;
    background-color: #fff !important;
}
.c2 * {
    color: #fff !important;
    background-color: #000 !important;
}
.cont {
    line-height: 1.5px;
}
.hr {
    margin: padding: 4px;
    line-height: 2 !important;
}
.hr li {
    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;
    cursor: pointer;
}
.hr li>a {
    text-decoration: none;
}
.h2 {
    line-height: 36px !important;
}
.nav-tabs > li,
.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    
    zoom: 1;
    /* hasLayout ie7 trigger */
}
.nav-tabs,
.nav-pills {
    text-align: center;
    display: flex;
    justify-content: center;
}
.btn-group button.nop {
    padding: 1px;
}
